service cloud.firestore {
  match /databases/{database}/documents {
    match /poll/{pollId} {
      allow read, write: if true;
    }
    match /vote/{userId}/votes/{poll} {
      allow read, write: if request.auth.uid == userId;
    }
  }
}
