@import '../../../../../variables.scss';

.already-voted {
  display: flex;
  justify-content: center;
  margin-top: 40px;

  .results {
    display: flex;
    justify-content: center;
    margin-top: $base-spacing*2;
  }
}
