<div class="vote"
     *ngIf="poll">
  {{ poll.title }} by {{ poll.createdByName }} on {{ poll.createdAt | date:'short' }}

  <ul class="options">
    <li *ngFor="let option of getPollOptions()">
      <div *ngIf="poll.selectionMode === 'SINGLE'"
           class="option">
        <input type="radio"
               name="options"
               [value]="option"
               ([ngModel])="selectedOptions[0]"
               (change)="setOptions(option)"> {{ option }}
      </div>

      <div *ngIf="poll.selectionMode === 'MULTI'"
           class="option">
        <input type="checkbox"
               name="options"
               [value]="option"
               ([ngModel])="selectedOptions.indexOf(option) !== -1"
               (change)="setOptions(option)"> {{ option }}
      </div>
    </li>
  </ul>

  <button [disabled]="selectedOptions.length === 0"
          (click)="vote()">Vote</button>
</div>
