<div *ngIf="poll"
     class="vote content">
  <mat-card>
    <mat-card-title>
      {{ poll.title }} by {{ poll.createdByName }} on {{ poll.createdAt | date:'short' }}
    </mat-card-title>

    <mat-card-content>
      <mat-list class="options">
        <div *ngIf="poll.selectionMode === 'SINGLE'">
          <app-poll-single-option [options]="getPollOptions()"
                                  (optionSelected)="setOptions($event)"></app-poll-single-option>
        </div>

        <div *ngIf="poll.selectionMode === 'MULTI'">
          <app-poll-multi-option [options]="getPollOptions()"
                                 (optionSelected)="setOptions($event)"></app-poll-multi-option>
        </div>
      </mat-list>

      <button mat-raised-button
              color="primary"
              [disabled]="selectedOptions.length === 0"
              (click)="vote()">Vote</button>
    </mat-card-content>
  </mat-card>
</div>
