<div class="create-poll">
  <mat-form-field class="title">
    <input type="text"
           name="title"
           id="title"
           placeholder="Poll Title"
           #title
           matInput
           [value]="info.title"
           (change)="setTitle(title)">
  </mat-form-field>

  <div class="add-option">
    <mat-form-field>
      <input type="text"
             placeholder="New Option"
             #option
             matInput>
    </mat-form-field>

    <button mat-raised-button
            color="accent"
            (click)="addOption(option)">Add</button>
  </div>

  <div class="options">
    <mat-list>
      <app-create-option *ngFor="let option of info.options"
                         [option]="option"></app-create-option>
    </mat-list>
  </div>

  <div class="selection-mode">
    <mat-checkbox name="selection-mode"
                  #selectionMode
                  (change)="setSelectionMode(selectionMode)">Allow Multiple Responses</mat-checkbox>

  </div>

  <div class="save">
    <button mat-raised-button
            color="primary"
            [disabled]="info.options.length < 2 || info.title == ''"
            (click)="save()">Save</button>
  </div>
</div>
