@import '../../../../../variables.scss';

.create-poll {
  display: flex;
  justify-content: center;
  margin-top: 40px;

  .add-option {
    button {
      margin-left: $base-spacing;
    }
  }

  .options {
    margin-bottom: $base-spacing*2;
  }

  .valid-until {
    display: flex;
    flex-direction: column;
    margin-top: $base-spacing*2;
  }

  .actions {
    display: flex;
    margin-top: $base-spacing*2;

    button {
      margin-right: $base-spacing;
    }
  }
}
