<div class="create-poll">
  <mat-card>
    <mat-form-field class="title">
      <input type="text"
             name="title"
             id="title"
             placeholder="Poll Title"
             #title
             matInput
             [value]="info.title"
             (change)="setTitle(title)">
    </mat-form-field>

    <div class="add-option">
      <mat-form-field>
        <input type="text"
               placeholder="New Option"
               #option
               matInput>
      </mat-form-field>

      <button mat-raised-button
              color="accent"
              (click)="addOption(option)">Add</button>
    </div>

    <div *ngIf="info.options.length > 0"
         class="options">
      <mat-list>
        <app-create-option *ngFor="let option of info.options"
                           [option]="option"></app-create-option>
      </mat-list>
    </div>

    <div class="selection-mode">
      <mat-checkbox name="selection-mode"
                    [checked]="info.selectionMode === 'MULTI'"
                    #selectionMode
                    (change)="setSelectionMode(selectionMode)">Allow Multiple Responses</mat-checkbox>

    </div>

    <div class="valid-until">
      <mat-slide-toggle [checked]="hasEnd"
                        (change)="toggleHasEnd()">Set Poll End</mat-slide-toggle>
      <mat-form-field *ngIf="hasEnd">
        <input matInput
               [min]="now"
               [matDatepicker]="picker"
               placeholder="Choose a date"
               #validUntil
               (dateChange)="setValidUntil(validUntil)">
        <mat-datepicker-toggle matSuffix
                               [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="actions">
      <div class="save">
        <button mat-raised-button
                color="primary"
                [disabled]="isSaveDisabled()"
                (click)="save()">Save</button>
      </div>

      <div class="reset">
        <button mat-raised-button
                color="warn"
                (click)="reset()">Reset</button>
      </div>
    </div>
  </mat-card>
</div>
